*.class

# Package Files #
*.jar
*.war
*.ear

forge/*
!forge/mcp/
forge/mcp/*
!forge/mcp/src/
forge/mcp/src/*
!forge/mcp/src/minecraft/
forge/mcp/src/minecraft/*
!forge/mcp/src/minecraft/com/
forge/mcp/src/minecraft/com/*
!forge/mcp/src/minecraft/com/ModEd/
!forge/mcp/src/minecraft/com/ModEd/*
!forge/mcp/src/minecraft/assets/
forge/mcp/src/minecraft/assets/*
!forge/mcp/src/minecraft/assets/moded/
!forge/mcp/src/minecraft/assets/moded/*